.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    padding-top: 1vh;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.accordion {
    /*width: 300px;*/

}

.item {
    background: black;
    color: white;
    margin-bottom: 5px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}

.title {
    color: yellowgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content {
    color: white;
    max-height: 0;
    overflow: hidden;
    transition: all 0.1s cubic-bezier(0,1,0,1);
}

.content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.1s cubic-bezier(1,0,1,0);

}