.blog-highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    margin-top: 0px;
    margin-bottom: 20px;
    border: 1px solid #FFF;
    padding: 20px;
}

.blog-entry {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.blog-entry img {
    width: 200px;
    height: 150px;
}

.blog-text {
    text-align: center;
}
