.airlineDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.leg-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 10px;


}

.leg-details a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.leg-details a:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.leg-details a:hover {
    color: darkcyan;
    text-decoration: none;
    cursor: pointer;
}