.carousel-wrapper {
    display: flex;
    flex-direction: column;
    /*margin-top:30px;*/
    overflow: hidden;
    background-color: #282c34;
    border: 1px solid cyan;
}

.slick-slide {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-slide img {
    height: 100%;
}


