.App {
  text-align: center;
}


body {
  background-color: #282c34;
}

.home-page-bottom-component-parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5px;
  background-color: #282c34;
}

.home-page-main-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}


.App-header {
  background-color: #282c34;
  border: 1px solid darkcyan;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
